{% extends '::base.html.twig' %}

{% block body %}
    <form class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend class="text-center">Sign Up Form</legend>

            <!-- Multiple Radios -->
            <div class="form-group">
                {{ form_label(form.type) }}
                <div class="col-md-4">
                    {{ form_widget(form.type) }}
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                {{ form_label(form.fio) }}
                <div class="col-md-4">
                    {{ form_widget(form.fio) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.phone) }}
                <div class="col-md-4">
                    {{ form_widget(form.phone) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.login) }}
                <div class="col-md-4">
                    {{ form_widget(form.login) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.password) }}
                <div class="col-md-4">
                    {{ form_widget(form.password) }}
                </div>
            </div>
            <div class="form-group email">
                {{ form_label(form.email) }}
                <div class="col-md-4">
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <ul class="sites" data-prototype="{{ form_widget(form.userSites.vars.prototype)|e }}">
                {% for site in form.userSites %}
                    <li>{{ form_row(site.title) }}</li>
                {% endfor %}
            </ul>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Sign Up</button>
                </div>
            </div>

        </fieldset>
    </form>

    <script>
        var $collectionHolder;

        var $addTagLink = $('<a href="#" class="add_tag_link">Add site</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        $(function() {
            $("#{{ form.type.vars.id }}").change(function() {
                if($(this).val() == {{ type_user }}) {
                    $(".form-group.email").addClass('hidden');
                } else {
                    $(".form-group.email").removeClass('hidden');
                }
            });

            if ($("#{{ form.type.vars.id }}").val() == {{ type_user }}) {
                $(".form-group.email").addClass('hidden');
            } else {
                $(".form-group.email").removeClass('hidden');
            }


            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.sites');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock body %}
