{% extends '::base.html.twig' %}

{% block body %}
    <form class="form-horizontal" action="" method="post">
        {{ form_widget(form._token) }}
        <fieldset>

            <!-- Form Name -->
            <legend class="text-center">Sign Up Form</legend>

            {% if(user_only != true) %}
                <!-- Multiple Radios -->
                <div class="form-group">
                    <label class="has-error">{{ form_errors(form.type) }}</label>
                    {{ form_label(form.type) }}
                    <div class="col-md-4">
                        {{ form_widget(form.type) }}
                    </div>
                </div>
            {% endif %}

            <!-- Text input-->
            <div class="form-group">
                <label class="has-error">{{ form_errors(form.fio) }}</label>
                {{ form_label(form.fio) }}
                <div class="col-md-4">
                    {{ form_widget(form.fio) }}
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="has-error">{{ form_errors(form.phone) }}</label>
                {{ form_label(form.phone) }}
                <div class="col-md-4">
                    {{ form_widget(form.phone) }}
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="has-error">{{ form_errors(form.login) }}</label>
                {{ form_label(form.login) }}
                <div class="col-md-4">
                    {{ form_widget(form.login) }}
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="has-error">{{ form_errors(form.password) }}</label>
                {{ form_label(form.password) }}
                <div class="col-md-4">
                    {{ form_widget(form.password) }}
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group partner hidden">
                <label class="has-error">{{ form_errors(form.email) }}</label>
                {{ form_label(form.email) }}
                <div class="col-md-4">
                    {{ form_widget(form.email) }}
                </div>
            </div>

            <!-- Text input-->
            <div class="text-center partner hidden">
                <ul class="sites list-unstyled" data-prototype="{{ form_widget(form.userSites.vars.prototype)|e }}">
                    {% for site in form.userSites %}
                        <li>{{ form_row(site.title) }}</li>
                    {% endfor %}
                </ul>
            </div>

            {% if(user_only == true) %}
                <!-- Text input-->
                <div class="form-group">
                    <label class="has-error">{{ form_errors(form.partner_code) }}</label>
                    {{ form_label(form.partner_code) }}
                    <div class="col-md-4">
                        {{ form_widget(form.partner_code) }}
                    </div>
                </div>
            {% endif %}

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </fieldset>
    </form>

    <script>
        var $collectionHolder;

        var $addSiteLink = $('<a href="#" class="add_site_link">Add site</a>');
        var $newLinkLi = $('<li></li>').append($addSiteLink);

        $(function() {
            {% if(user_only != true) %}
            $("#{{ form.type.vars.id }}").change(function() {
                if($(this).val() == {{ type_user }}) {
                    $(".partner").addClass('hidden');
                } else {
                    $(".partner").removeClass('hidden');
                }
            });

            if ($("#{{ form.type.vars.id }}").val() == {{ type_user }}) {
                $(".partner").addClass('hidden');
            } else {
                $(".partner").removeClass('hidden');
            }
            {% endif %}

            $collectionHolder = $('ul.sites');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $collectionHolder.find('li.item').each(function() {
                addSiteFormDeleteLink($(this));
            });

            $addSiteLink.on('click', function(e) {
                e.preventDefault();

                addSiteForm($collectionHolder, $newLinkLi);
            });
        });

        $("#singlebutton").on('click', function() {
            $('form').submit();
        });

        function addSiteForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li class="item"></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        function addSiteFormDeleteLink($siteFormLi) {
            var $removeFormA = $('<a href="#">delete this site</a>');
            $siteFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();

                $siteFormLi.remove();
            });
        }
    </script>
{% endblock body %}
